body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
}

h1 {
  text-align: center;
}

.episodes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.episode-card {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.episode-card__title {
  padding: 1rem;
  margin: 0;

  border: solid 2px #000;
  border-radius: 10px;

  text-align: center;
}

.episode-card__data {
  display: grid;
  justify-items: center;
  padding: 1.5rem;
}
