#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;

}

header {
  margin: 1rem;
  padding: 1rem;
  background-color: #c3c3c3;
  text-align: center;
}

    
.search-bar {
  margin: 1rem auto;
  text-align: left;
}

#search-bar input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;
  box-sizing: border-box;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}


.episode {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px); /* so that three cards can fit in a row */
  box-sizing: border-box;
  text-align: center; 
}

.episode img {
  max-width: 100%;
  height: auto;
  display: block; /* to ensure the image is displayed as a block element for centering */
  margin: 0 auto; /* to center the image horizontally */
}

.episode h2 {
  margin-top: 0;
  border: 1px solid #ccc; border-radius: 15px;
  padding: 20px; 
}

.episode .content {
  text-align: center; 
}

.episodes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Start of my modification     */
.episode-card {
  width: calc(24% - 2rem); /* I adjusted the width to make 4 cards fit in a row */
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-bottom: 2rem; /* I added  some bottom margin to create space between rows */
}

/* Media query for iPads */
@media (min-width: 601px) and (max-width: 1024px) {
  .episode-card {
    width: calc(50% - 2rem); /* I adjusted width to fit two cards for ipads*/
  }
}

/* Media query for smaller devices */
@media (max-width: 600px) {
  .episode-card {
    width: calc(100% - 2rem); /* i adjusted the width to fit one card for mobile phones */
  }
}

  /* END my modification */
footer {
  display: block;
  align-items: center;
}
